/* 로고 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@800&display=swap');

/* Nav.js */
.home {
  top: 0;
  left: 0;
  text-align: center;
  height: 30px;
  font-weight: 800;
  font-size: 30px;
  font-family: 'Baloo Tamma 2', cursive;
  /* 텍스트 드래그 못하게 */
  -ms-user-select: none; 
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.btn_logout {
  border-radius: 5px;
  transform: scale(0.9);
}


.btn1 { 
  border-top-left-radius: 5px; 
  border-bottom-left-radius: 5px; 
  margin-right: -7px;
  transform: scale(0.9);
} 

.btn2 {  
  border-top-right-radius: 5px; 
  border-bottom-right-radius: 5px; 
  margin-left: 0px;
  transform: scale(0.9);
} 

.btn_group button { 
  border: 1px solid skyblue; 
  background-color: rgba(0,0,0,0);
  color: skyblue; 
  padding: 5px;
  padding-top: 0px;
}

.btn_group button:hover{ 
  color:white; 
  background-color: skyblue; 
}

.ul {
  font-size: 14px;
}