.sidebar {
  position: relative;
  margin: 18px;
  border: none;
  padding: 0;
  background: none;
  top: 10px;
}

.home {
  margin: 20px;
  border: none;
  padding: 0;
  background: none;
  position: relative;
  left: 50px;
  top: 10px;
}

.menu {
  position: relative;
  top: 0px;
  margin: 1px;
}

.menu li {
  float: left;
  list-style: none;
}

.menu a {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 16px;
  color: #94969B;
  padding: 0 13px;
  text-decoration: none;
}

.text-group {
  vertical-align: middle;
}

.explanation-group {
  text-align: center;
}

.big-black-text {
  color: #222222;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
}

.small-black-text {
  color: #222222;
  font-family: Roboto;
  font-size: 15px;
}

.small-gray-text {
  color: #94969B;
  font-family: Roboto;
  font-size: 14px;
}

.main-board {
  display: flex;
  vertical-align: middle;
  position: relative;
  left: 50px;
  top: 30px;
}

.main-board-2 {
  position: relative;
  top: 30px;
  text-align: center;
}

.icon-group{
  margin-left: 10px;
  text-align: center;
}

.icon-image {
  border: none;
  padding: 0;
  background: none;
  display:inline-block;
  width: 83px;
  height: 80px;
  position: relative;
  top: 10px;
}

.icon-text {
  margin-left: 1px;
  text-align: center;
  text-decoration: none;
  color: #000000;
  font-family: Roboto;
  font-size: 13px;
  position: relative;
  top: 10px;
}

.rectangle {
  position: relative;
  display: flex;
  width: 400px;
  height: 250px;
  top: 20px;
  background: #E9E9E9;
}

.image-icon {
  position: relative;
  width: 86px;
  height: 86px;
  left: 145px;
  top: 322px;
}

.upload {
  position: relative;
  margin: 18px;
  border: none;
  padding: 0;
  background: none;
  top: 30px;
}