.file-dropper {
  border: 1px dashed black;
  height: 200px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  background-color: grey;
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.file-dropper input {
  opacity: 0;
  width: 50%;
  height: 100%;
  position: absolute;
  cursor: pointer;
}

.file-dropper:hover {
  background-color: grey;
  transition: 0.5s;
  color: white;
}

.image-preview {
  width: 0%;
  opacity: 0;
  display: block;
  margin: 0 auto 20px auto;
  border-radius: 10px;
  border: 5px solid grey;
}

.image-preview-show {
  width: 75%;
  transition: 0.5s;
  opacity: 100%;
}
